<a href='/'>
  <span> ←</span>
   Go Back
</a>

<style>
  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 600;
    color: #007fff;
  }
</style>
