---
import Layout from '../../layouts/Layout.astro';
import Main from '../../layouts/Main.astro';
---

<Layout title='Projects | Input Types'>
  <Main>
    <h2>Input Types</h2>
    <form>
      <label> Text Input</label>
      <br />
      <input type='text' name='text' placeholder='Text Input' />
      <br />
      <label> Password Input</label>
      <br />
      <input type='password' name='password' placeholder='Password Input' />
      <br />
      <label> Email Input</label>
      <br />
      <input type='email' name='email' placeholder='Email Input' />
      <br />
      <label> Number Input</label>
      <br />
      <input type='number' name='number' placeholder='Number Input' />
      <br />
      <label> Search Input</label>
      <br />
      <input type='search' name='search' placeholder='Search Input' />
      <br />
      <label> Telephone Input</label>
      <br />
      <input type='tel' name='tel' placeholder='Telephone Input' />
      <br />
      <label>Number Input</label>
      <br />
      <input type='number' name='number' placeholder='Number Input' />
      <br />
      <label>URL Input</label>
      <br />
      <input type='url' name='url' placeholder='URL Input' />
      <br />
      <label>Check box</label>
      <br />
      <input type='checkbox' name='checkbox' value='checkbox' />
      <br />
      <label>Radio Button</label>
      <br />
      <input type='radio' name='radio' value='radio' />
      <br />
      <label>File Upload</label>
      <br />
      <input type='file' name='file' value='file' />
      <br />
      <label>Range Input</label>
      <input type='range' name='range' value='range' />
      <br />
      <label>Color Input</label>
      <input type='color' name='color' value='color' />
      <br />
      <label>Date Input</label>
      <input type='date' name='date' value='date' />
      <br />
      <button type='submit'>Submit</button>
    </form>
  </Main>
</Layout>
