---
import Back from '../../components/Back.astro';
import Layout from '../../layouts/Layout.astro';
import Main from '../../layouts/Main.astro';
---

<Layout title='Projects | Resume'>
  <Main>
    <Back />

    <header>
      <h1>A Abhiram</h1>
      <p>Contact Information: 21p61a0513@vbithyd.ac.in | 9392032679</p>
    </header>

    <section>
      <h2>Education</h2>
      <p><strong>Degree Name:</strong> Computer Science Engineering</p>
      <p><strong>College:</strong> Vignana Bharathi Institute of Technology</p>
      <p><strong>Graduation Year:</strong> 2025</p>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li>Programming Languages: HTML, CSS, JavaScript, Python</li>
        <li>Web Development: Front-end and Back-end</li>
        <li>Problem Solving and Debugging</li>
      </ul>
    </section>

    <section>
      <h2>Projects</h2>
      <table>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th>Duration</th>
        </tr>
        <tr>
          <td>Online Shopping Website</td>
          <td
            >Designed and developed a comprehensive Online Shopping Website to
            streamline administrative processes where Website can be used by
            multiple users.</td
          >
          <td>Jan 2024 - Feb 2024</td>
        </tr>
        <tr>
          <td>Online Food Delivery Website</td>
          <td
            >Designed and developed a comprehensive Online Food Delivery Website
            to streamline administrative processes where Website can be used by
            multiple users.</td
          >
          <td>Jan 2024 - Feb 2024</td>
        </tr>
      </table>
    </section>
  </Main>
</Layout>
